.card-img-top {
  height: 20rem;
  object-fit: cover;
}
.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
}
